*.html linguist-detectable=true
*.html linguist-language=HTML
*.css linguist-detectable=true
*.py linguist-language=Python
*.pt linguist-language=Python
*.python linguist-detectable=true
*.py linguist-detectable=true
app.py linguist-language=Python
templates/home.html linguist-language=HTML
templates/index.html linguist-language=HTML
*.js linguist-detectable=false
